

body{
  margin:0;
  padding:0;
  background-image:url(../../assets/img/unsplash.jpg);
  background-size:cover;
}

form{
  margin-top:10vh;
  align-content:center;
  margin-left:1em;
}
h3 {
  color: #F26419 ; 
   font-size: 4rem;
}

p  {
  color: #2F4858;
  font-size: 1em;  
  
}

#form-section.container{
  margin-top:10em;
}

#result{
  display:none;
  margin-top: 6vh;
  margin-bottom: 6vh;

}
#poster{
  margin-top: 5vh;
  padding-left: 5vw;
}
#card{
  overflow: hidden;
  text-align: justify;
    text-justify: inter-word;
}

.moviebox .container .row{
  background-color: white;
  border-radius: 10px;
}

#goBack{
  margin-left: 40vw;
  margin-top: 5vh;
}
.container .row #circle{
  
  position: fixed;
  margin-top: 40vh;
  margin-left: 40vw;
}

.loader {
  border: 3px solid #343434;
  border-radius: 50%;
  border-top: 3px solid #efeaea;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media (max-width:767px) {
  button.btn.btn-primary{
    margin-top:1em;
    margin-left:5.5em;
  }
}

